.CodeMirror {
    height: 95% !important;
    width: 95%;
    min-width: 700px;
    overflow: scroll;
}

.CodeMirror-scroll {
    overflow-y: hidden;
    overflow-x: hidden;
}

.CodeMirror-lines {
    padding-left: 20px;
}