{
    database: "<%= @connection.database %>",
    hostname: "<%= @connection.hostname %>",
    username: "<%= @connection.username %>",
    password: "<%= @connection.password %>",
    port: "<%= @connection.port %>",
}
