/* This file is for your main application css. */

:root {
    --main-bg-color: #263238;
    --main-fg-color: #FC3340;
    --accent1: #EBA6A9;
    --accent2: #FFC6AC;
    --accent3: #C792EA;
    --accent4: #d9f4a4;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto|Roboto+Mono&display=swap');
body {
    font-family: 'Roboto Mono', monospace;
    font-size: 24px;
    color: var(--main-bg-color);
    margin: 0;
    overflow: hidden;
}

html {
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--main-bg-color)
}

table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid #ddd;
    padding: 8px;
}

 tr:nth-child(even){background-color: #f2f2f2;}

 tr:hover {background-color: #ddd;}

 th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
}

.CodeMirror {
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
}

.cm-keyword { 
    text-transform: uppercase;
}

header {
    position: fixed;
    color: white;
    right: 0px;
}

.help-block {
    color: #a94442;
    margin-left: 3em;
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.form-item {
    display: block;
}

.btn {
	padding: 5px 10px 5px 10px;
	border-radius: 10px;
}

.btn-1 {
	background-color: var(--accent1);
}

.btn-2 {
	background-color: var(--accent2);
}

.btn-3 {
	background-color: var(--accent3);
}

.btn-4 {
	border: 1px solid var(--main-bg-color)
}

.btn:hover {
	cursor: pointer;
}